<div class="header">
    <a href="{{pathPrefix}}">
        {{> icon_logo}}
    </a>
    <div class="icon-actions">
        <div class="discourse">
          <a href="https://fixthestatusquo.org">
            <img width="32" height="32" src="/discourse_icon.svg"/>
          </a>
        </div>
        <div class="settings">
            <a href="{{pathPrefix}}settings">
                {{> icon_gear}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}">
                {{> icon_sign_out}}
            </a>
        </div>
    </div>
</div>
